body { 	background-color: #EAEAEA;
		color: #666666;
		font-family: Geneva, sans-serif; 
		width: 80%; 
		margin-left: 10%; 
		margin-right: 10%; }
	
header { background-color: #FF660B;
		background-image: url(CdSlogo.png);
		background-position: left; 
		background-repeat: no-repeat;
		background-size: 160px;
		padding-top: .1px;
		padding-bottom: .1px; 
		line-height: 30px;}
		
header h1 { letter-spacing: 0.15em; 
		font-size: 40px;
		text-align: center;
		white-space: nowrap;
		text-indent: 160px; }
	
nav { 	background-color: #FF660B;
		font-weight: bold;
		height: 430px;
		width: 160px;
		line-height: 40px; 
		position: absolute; }

nav ul { padding-left: 5px;
		list-style: none; 
		font-size: 16px;
		display: block; 
		white-space: nowrap; }
	
nav a:link { color:#000000; }
nav a:visited { color:#000000; }
nav a:hover { color:#FF0000; }
	
a { text-decoration: none; }
a:link { color:#0000FF; }
a:visited { color:#800080; }
a:hover { color:#FF0000; }
		
main { padding-left: 25px;
		background-color: #FFFFFF;}

main ul { line-height: 2em; 
		text-indent:0px ; }

main a:link { text-decoration: underline; }

main video {position: relative;
		padding-left: 25px; 
		padding-right: 25px;
		padding-bottom: 15px; }

section { padding-left: 2em;
		padding-right: 2em; }

section ul { list-style: none;
			line-height: 1.25em; 
			column-count:3 ;
			column-gap: 40px;
			column-width: 100px;
			column-span: all; }
		
#Pageimage { background-color: #2f2f2f; }
 
#Pageimage img {
	margin-left: auto;
	margin-right: auto; 
	min-width: 50%; 
	max-width: 70%; 
	height: 420px;
	display: block;
	padding-left: 140px;
	padding-top: 5px; 
	padding-bottom: 5px; }

h1 { font-family: Georgia, "Times New Roman", serif;
	color: #000000; }
	
h2 { font-family: Georgia, "Times New Roman", serif;
	color: #FF660B; }

h3 { font-family: Georgia, "Times New Roman", serif; 
	color: #000000; }
		
h4 { font-family: Georgia, "Times New Roman", serif; 
	color: #606060; }

footer { background-color: #FF660b;
		color: #000000;
		font-size: 75%;
		font-style: italic; 
		text-align: center; 
		font-family: Georgia, "Times New Roman", serif;
		padding: 20px; }

form { width: 60%; 
		display: grid;
		gap: 10px;
		grid-gap: 10px;
		grid-template-rows:	auto;
		grid-template-columns: 100px 1fr; }
		
table {border: 2px solid #FF660B; 
	border-collapse: collapse; }

td { padding: .5em;
	border: 2px solid #FF660B; }

th { border: 2px solid #FF660B; 
	padding: 1em; 
	text-align: center; }
	
tr:nth-of-type(odd) { background-color: #FFD5A9; }
